/* Стили для body и html */
* {
    font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Контейнер для фонового видео */
.video-background {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* Само видео */
.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Видео на заднем плане */
}

/* Контент поверх видео */
.video-background .content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

/* Стили для текста */
.video-background .content h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

.video-background .content p {
    font-size: 1.5em;
}

.product_wrapper {
    margin-top: 15px;
    height: 670px;
    width: 100%;
    padding: 0%;
}

.product_wrapper p{
    margin-left: 15px;
}

.product_price {
    margin: 0%;
    font-size: 24px;
    font-weight: bold;
}

.product_name {
    margin: 0%;
    color: #8b0000;
    font-size: 26px;
    font-family: 'guano';
}

.product_desc {
    font-size: 22px;
    margin: 0px;
}

.product_image {
    border-radius: 25px;
    height: 450px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 10%;
}

.product_wrapper image :hover {
    opacity: 0.6;
}

.buy_button {
    font-weight: bold;
    font-size: 24px;
    background-color: black;
    color: white;
    border-radius: 18px;
    height: 40px;
    width: 95%;
}









.about-photo-wrapper {
    height: 425px;
    padding: 0%;
    width: 100%;
}

.about-block {
    padding: 0%;
    color: white;
    background-color: black;
    width: 100%;
    height: 425px;
}

.about-photo {
    padding: 0%;
    object-position: 50% 20%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'guano'; /*a name to be used later*/
    src: url('/static/Guano\ Apes\ \(Rus\ by\ sherbackoffalex\).otf'); /*URL to font*/
}