<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://kit.fontawesome.com/f107744b9e.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/style.css">

    <style>
        .indicator-item.active {
            background-color: black !important;
        }
    </style>

    <title>{{ product.name }}</title>
</head>

    <script>

          document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.carousel');
            var instances = M.Carousel.init(elems);
        });

        document.addEventListener('DOMContentLoaded', loadCart);
        document.addEventListener('DOMContentLoaded', function () {
            const sliderElems = document.querySelectorAll('.slider');
            M.Slider.init(sliderElems, {
                indicators: true,
                height: 500,
                duration: 500,
                interval: 3000
            });

            const selectElems = document.querySelectorAll('select');
            M.FormSelect.init(selectElems);
        });

        document.addEventListener('DOMContentLoaded', function() {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {direction: "left"});

            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);
        });

        function addToCart() {
            const size = document.getElementById('size-select').value;
            const color = document.getElementById('color-select').value;

            if (!size || !color) {
                alert("Пожалуйста, выберите размер и цвет!");
                return;
            }

            fetch('/cart', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({
                    product_id: "{{ product.id }}",
                    size: size,
                    color: color
                })
            }).then(response => {
                if (response.ok) {
                    alert("Товар добавлен в корзину!");
                } else {
                    alert("Ошибка при добавлении в корзину!");
                }
            });
            setTimeout(function(){ loadCart(); }, 500);
        }

        function sendOrder() {
            let contacts = prompt("Введите ваш номер телефона или Telegram: наш менеджер свяжется с вами для оплаты и согласования доставки");
            if (!contacts) {
                alert("Контакты обязательны!");
                return;
            }

            let cart = JSON.parse(localStorage.getItem("cart")) || [];

            fetch('/order', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ contacts: contacts, items: cart })
            }).then(response => response.json())
            .then(data => alert(data.message))
            .catch(error => alert("Ошибка при отправке заказа"));
        }

        function loadCart() {
            const cartItems = document.getElementById('cart-items');
            fetch(`/cart?_=${Date.now()}`)
                .then(response => response.json())
                .then(data => {
                    cartItems.innerHTML = ''; // Очистить старые элементы
                    const buttonContainer = document.getElementById('order-button-container');
                    buttonContainer.innerHTML = ''; // Убрать кнопку, если она уже есть

                    if (data.length === 0) {
                        cartItems.innerHTML = '<li class="collection-item">Пока пусто(</li>';
                        return; 
                    }

                    data.forEach((item, index) => {
                        const li = document.createElement('li');
                        li.innerHTML = `
                            <div class="row" style="display: flex; align-items: center;">
                                <div style="flex: 0 0 auto; margin-right: 10px;">
                                    <a onclick="removeFromCart(${index})">
                                        <i class="material-icons" style="color: red; cursor: pointer;">close</i>
                                    </a>
                                </div>
                                <div style="flex: 1;">
                                    <p style="margin: 0;">
                                        ${item.product.name} (${item.size || 'No size'}, ${item.color || 'No color'})
                                    </p>
                                </div>
                            </div>`;
                        cartItems.appendChild(li);
                    });

                    // Добавим кнопку "Заказать"
                    const li2 = document.createElement('li');
                    li2.innerHTML = `<div class="buy_button center-align" onClick="sendOrder()">заказать</div>`;
                    cartItems.appendChild(li2);
                });
        }

        function removeFromCart(index) {
            fetch(`/cart/${index}`, { method: 'DELETE' })
                .then(response => {
                    if (!response.ok) throw new Error('Ошибка удаления');
                    return response.text(); // или .json(), если сервер возвращает данные
                }).catch(err => console.error(err));
            setTimeout(function(){ loadCart(); }, 500);
        }
    </script>

    <body style="background-color: white;">
        <div class="container" style="min-height: 100vh;">
            <h1 style="font-weight: bold; color: #8b0000;">{{ product.name }}</h1>
            <div class="row">

                <!-- Слайдер для фотографий -->
                <div class="carousel">
                    {% for image in product.images %}
                            <a style="max-width: 400px;" class="carousel-item"><img class="carousel-precious-item" src="{{ image }}"></a>
                    {% endfor %}
                </div>

                <!-- Информация о товаре -->
                <div class="col s12">

                    <!-- Выбор размера -->
                    <div class="input-field hide">
                        <select id="size-select">
                            <option value="" disabled>Выберите размер</option>
                            {% for size in product.sizes %}
                            <option value="{{ size }}" selected>{{ size }}</option>
                            {% endfor %}
                        </select>
                        <label>Размер</label>
                    </div>

                    <!-- Выбор цвета -->
                    <div class="input-field hide">
                        <select id="color-select">
                            <option value="" disabled>Выберите цвет</option>
                            {% for color in product.colors %}
                            <option value="{{ color }}" selected>{{ color }}</option>
                            {% endfor %}
                        </select>
                        <label>Цвет</label>
                    </div>

                    <!-- Кнопка добавления в корзину -->
                    <div class="row">
                        <div class="another_button center-align col s5">{{ product.price }}</div>
                        <div class="col s2"></div>
                        <div class="buy_button center-align col s5" onclick="addToCart()">в корзину</div>
                    </div>
                    <div class="row">
                        <div class="buy_button center-align col s12" onclick="location.href='/';" style="margin-top: 15px;" >вернуться</div>
                    </div>

                    <p class="product_desc">{{ product.description }}</p>

                </div>
            </div>
        </div>

        <!--КОРЗИНА-->
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large black modal-trigger" href="#modal1">
            <i class="large material-icons">shopping_cart</i>
            </a>
        </div>

        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>корзина</h4>
                <ul id="cart-items" class="collection" style="margin: 0;"></ul>
                <div id="order-button-container" class="center-align" style="padding: 10px;"></div>
            </div>
            <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">ОК</a>
            </div>
        </div>

        <footer class="page-footer" style="background-color: white;">
            <div class="footer-copyright" style="background-color: #151515;">
                <div class="container">
                © 2025 preciousforyou.ru
                </div>
            </div>
        </footer>

    </body>

</html>